div{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.ice-container{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
	height: 180px;
	border: 1px solid #ccc;
}
.ice-wrapper{
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ice-slide{
	text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #36b5ab;
    box-sizing: border-box;
}
.ice-container-vertical > .ice-wrapper{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.ice-containerPc{
    width:600px;
    height:200px;
    position:relative;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
}
.ice-wrapperPc{
    width:1800px;
    height:100%;
    position:relative;
    box-sizing: border-box;
}
.ice-slidePc{
    width:600px;
    height: 100%;
    float: left;
    text-align: center;
    border: 1px solid #36b5ab;
    box-sizing: border-box;
}
.ice-paginationX{
    position: absolute;
    bottom: 10px;
    text-align: center;
    z-index: 10;
    width: 100%;
    cursor: pointer;
}
.ice-paginationY{
    position: absolute;
    right: 10px;
    top: 50%;
    text-align: center;
    z-index: 10;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate(0,-50%);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
.ice-pagination-bulletX{
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 90px;
    line-height: 20px;
    cursor: pointer;
}
.ice-pagination-bulletY{
    display: block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 90px;
    line-height: 20px;
    margin: 5px 0;   
    cursor: pointer;
}
.ice-pagination-bulletX.active{
    background-color: #ccc;
}
.ice-pagination-bulletY.active{
    background-color: #ebcf79;
}






